In [1]:
name = '홍길동'
age = 20
address = '서울'
major = '컴'

In [2]:
student = {
    'name' : name,
    'age' : age,
    'address' : address,
    'major' : major
}

In [3]:
student1 = {
    'name' : '김',
    'age' : 22,
    'address' : '대전',
    'major' : '컴'
}

In [9]:
students = []

In [11]:
students = [0]*10 # 초기화 10개 공간

In [12]:
students[0] = [students]

In [17]:
students[:0:1] = [student]

In [18]:
students[1] = [student1]

In [19]:
students

[{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 [{'name': '김', 'age': 22, 'address': '대전', 'major': '컴'}],
 [[...]],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [35]:
student1 = {
    'name' : '고두동',
    'age' : 55,
    'address' : '부산',
    'major' : '경제'
}

In [22]:
students.append(student1)

In [23]:
students.insert(0, student1)

In [37]:
students

[{'name': '고두동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '고기동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '고기동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 {'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 [{'name': '김', 'age': 22, 'address': '대전', 'major': '컴'}],
 [{'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 {'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'}]

In [25]:
len(students)

14

In [26]:
students[0]

{'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'}

In [31]:
students[:0:1]=[student1] # 맨 처음에 insert

In [36]:
students[:0]=[student1]

In [38]:
student1 = {
    'name' : '권순찬',
    'age' : 22,
    'address' : '대전',
    'major' : '컴'
}

In [41]:
students[5:8] = [student1, student1, student1]

In [42]:
students

[{'name': '고두동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '고기동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '고기동', 'age': 55, 'address': '부산', 'major': '경제'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'},
 {'name': '권순찬', 'age': 22, 'address': '대전', 'major': '컴'},
 {'name': '권순찬', 'age': 22, 'address': '대전', 'major': '컴'},
 {'name': '권순찬', 'age': 22, 'address': '대전', 'major': '컴'},
 [{'name': '김', 'age': 22, 'address': '대전', 'major': '컴'}],
 [{'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 {'name': '고길동', 'age': 55, 'address': '부산', 'major': '경제'}]

In [ ]:
### insert(), append()

In [74]:
students = []

In [72]:
def add_user(db:list, name:str, age:int,  address:str, major:str):
    student = {
        'name' : name,
        'age' : age,
        'address' : address,
        'major' : major
    }
    db.append(student)     
add_user(student)

TypeError: add_user() missing 4 required positional arguments: 'name', 'age', 'address', and 'major'

In [73]:
def add_user(name:str, age:int,  address:str, major:str):
    student = {
        'name' : name,
        'age' : age,
        'address' : address,
        'major' : major
    }
    students.append(student)     
add_user(student)

TypeError: add_user() missing 3 required positional arguments: 'age', 'address', and 'major'

In [75]:
def add_user(db:list, student:dict):
    db.append(student)

In [76]:
def listall(db:list):
    print(f'{"이름": 10}{"나이":8}{"주소":30}{"전공":8}')
    for i in db:
        n = i['name']
        a = i['age']
        ad = i['address']
        m = i['major']
        print(f'{n:10} {a:4} {ad:30} {m:8}')

In [46]:
add_user(students, name='홍길동', age=20, address='서울', major='컴')

In [ ]:
listall(students)

In [ ]:
def update_students():
    pass

In [47]:
def delete_students():
    pass

In [63]:
students = []

In [64]:
class Student:
    student_number = 1
    def __init__(self, name, age, phone, address, major):
        self.name = name
        self.age = age
        self.phone = phone
        self.address = address
        self.major = major
        Student.student_number += 1
    def update(self, name, age, phone):
        pass

In [65]:
def add_user(db:list, s:Student):
    db.append(s)

In [66]:
def listall(db:list):
    print(f'{"이름":10}{"나이":8}{"주소":30}{"전공":8}')
    for i in db:
        n = i.name
        a = i.age
        ad = i.address
        m = i.major
        print(f'{n:10}{a:8}{ad:30}{m:8}')

In [67]:
s = Student('김영수',30,'101-1010','서울','컴퓨터')

In [68]:
add_user(students, s)

In [69]:
add_user(students, Student('수성동', 33,'201-2010', '김포','컴퓨터'))