In [ ]:
! pip install pandas

<div id = "summary"> 
<ul>
    <li>DataFrame <strong><span style = "color:red">생성</span></strong></li>
    <li>DataFrame에 <strong><span style = "color:red">Data추가/삭제/조회</span></strong></li>

</div>

# 2. DataFrame

DataFrame 이란?

<ul>
    <li> 2차원 데이터 </li>
    <li> 인덱스가 같은 하나 이상의 <strong><u>Series가 모여진 데이터</u></strong> </li>
    <li> DBMS 의 관계형 Table 과 매우 유사 </li>
</ul>


먼저 DataFrame을 사용하기 위해 Pandas 라이브러리를 import 합니다.

In [1]:
# pandas library import
import pandas as pd
from pandas import Series, DataFrame

## 2.1 DataFrame 데이터 생성

DataFrame을 생성하기 위해 셀에 DataFrame() 이라고 입력하고 괄호 안에서 Shift+tab 을 눌러보면 아래와 같은 정보가 보입니다.  

DataFrame(<strong><span style = "color:red">data</span></strong>=None, <strong><span style = "color:red">index</span></strong>=None, <strong><span style = "color:red">columns</span></strong>=None, <strong><span style = "color:red">dtype</span></strong>=None, <strong><span style = "color:red">copy</span></strong>=False)  

값을 입력해줄 수 있고, Default 가 None이기 때문에 값이 없으면 아무 동작도 하지 않습니다. 속성값들을 하나씩 알아보겠습니다.
<ul>
    <li><strong><span style = "color:red">data</span></strong> : 저장되는 데이터</li>
    <li><strong><span style = "color:red">index</span></strong> : index에 대한 정보(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">columns</span></strong> : 열에 대한 이름값(미입력시 0부터 순차적으로 부여)</li>
    <li><strong><span style = "color:red">dtype</span></strong> : 데이터에 대한 타입 명시(미입력시 자체적으로 판단)</li>
</ul>

예제를 확인하겠습니다.

In [3]:
Data1 = pd.DataFrame([[180,75],[160,65],[170,75], [175,80]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게"])
Data1

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [18]:
len(Data1)

4

In [4]:
print(Data1)

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [20]:
Data1.shape

(4, 2)

In [6]:
Data1.index

Index(['사람1', '사람2', '사람3', '사람4'], dtype='object')

In [7]:
Data1.values

array([[180,  75],
       [160,  65],
       [170,  75],
       [175,  80]], dtype=int64)

In [8]:
Data1.columns

Index(['키', '몸무게'], dtype='object')

In [11]:
Data1.ndim

2

In [12]:
Data1.size

8

index와 columns의 경우 선언후에도 별도로 입력할 수도 있습니다.

In [21]:
Data1 = pd.DataFrame([[180,75],[160,65],[170,75], [175,80]])
Data1

     0   1
0  180  75
1  160  65
2  170  75
3  175  80

In [22]:
# 인덱스 저장
Data1.index = ["Man1","Man2","Man3","Man4"]
Data1

        0   1
Man1  180  75
Man2  160  65
Man3  170  75
Man4  175  80

In [23]:
Data1.columns

RangeIndex(start=0, stop=2, step=1)

In [24]:
# 컬럼명 저장
Data1.columns = ["Height","Weight"]
Data1

      Height  Weight
Man1     180      75
Man2     160      65
Man3     170      75
Man4     175      80

In [25]:
Data1.columns

Index(['Height', 'Weight'], dtype='object')

## 2.2 DataFrame 조회
- `DataFrame[컬럼명]` : 컬럼 선택
- `DataFrame.loc["index명"]` : 특정 index만 조회 가능하다.
- `DataFrame.iloc[index번호]` : 특정 index만 조회 가능하다.

In [26]:
# 예제를 위한 데이터 생성
Data2 = DataFrame([[180,75,30],[160,65,40],[170,75,32], [175,80,33]], 
                  index = ["사람1","사람2","사람3","사람4"], 
                  columns = ["키","몸무게","나이"])
Data2

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40
사람3  170   75  32
사람4  175   80  33

In [27]:
Data2.shape

(4, 3)

### Column 조회

<strong><span style = "color:red">DataFrame명["속성명"]</span></strong> 또는 <strong><span style = "color:red">DataFrame명.속성명</span></strong>을 통해 <strong><u>특정 속성명만 조회</u></strong> 할 수 있다.

하나의 속성명을 조회 하면 SeriesType, 여러 속성명을 조회 하면 DataFrame으로 출력된다.

In [28]:
# 키 Column 만 조회
Data2["키"]

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64

In [29]:
Data2.몸무게

사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64

In [30]:
# Type 은 Series
type(Data2.몸무게)

pandas.core.series.Series

In [31]:
# 두 개 이상 컬럼 조회
Data2[["키", "몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [32]:
Data2["몸무게"]

사람1    75
사람2    65
사람3    75
사람4    80
Name: 몸무게, dtype: int64

In [33]:
type(Data2["몸무게"])

pandas.core.series.Series

In [34]:
Data2.키

사람1    180
사람2    160
사람3    170
사람4    175
Name: 키, dtype: int64

In [35]:
Data2[["키","몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65
사람3  170   75
사람4  175   80

In [36]:
Data2[0]

KeyError: 0

In [38]:
Data2[:1] # iloc, loc 로 사용 권고

       키  몸무게  나이
사람1  180   75  30

In [41]:
Data2.loc["사람1"]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

### 컬럼 슬라이싱

범위와 슬라이싱은 row 방향의 레코드를 반환한다.

- Dataframe[start:stop] 를 통해 row 인덱스 조회
- Dataframe[start:stop:step] 를 통해 row 인덱스 조회

In [ ]:
Data2[1:2]

Step  이용

In [ ]:
Data2[1::2]

In [ ]:
Data2[::2]

In [ ]:
Data2[2::2]

### Index 조회

<ul>
    <li><strong><span style = "color:red">DataFrame명.loc["index명"]</span></strong> 을 통해 특정 index만 조회 가능하다.</li>
    <li><strong><span style = "color:red">DataFrame명.iloc[index번호]</span></strong> 를 통해 특정 index만 조회 가능하다.</li>
</ul>

<img src='https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png' width=600>

In [ ]:
# 컬럼 조회
Data2['키']

In [ ]:
Data2[1]

In [ ]:
Data2[1:2]  # index range

In [ ]:
Data2

마찬가지로 하나의 index만 조회 할 경우 Series Type, 여러 index의 경우 DataFrame Type으로 출력한다.

In [42]:
Data2.loc["사람1"]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [43]:
# 1번 인덱스 --> 사람2의 정보만 출력
Data2.iloc[0]

키      180
몸무게     75
나이      30
Name: 사람1, dtype: int64

In [44]:
# 두 개 index를 index명으로 조회
Data2.loc[["사람1","사람2"]]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

In [45]:
# 여러 개의 index를 index번호로 조회
Data2.iloc[1:3]

       키  몸무게  나이
사람2  160   65  40
사람3  170   75  32

In [46]:
Data2.iloc[:-2]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

### Index Label과 column 동시 조회

하나의 index 명과 컬럼명에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.at["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명","컬럼명"]</li>
<li> <strong><span style = "color:red">DataFrame명.loc["index명"]["컬럼명"]</li>
</ul>
여러 index명과 컬럼명에 해당하는 여러 값 찾기
<ul>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"],["컬럼명1","컬럼명2"]]</li>
<li> <strong><span style = "color:red">DataFrame명.loc[["index명1","index명2"]][["컬럼명1","컬럼명2"]]</li>
</ul>

In [47]:
#사람1의 나이 찾기
Data2.loc["사람1","나이"] #인덱스,컬럼

30

In [48]:
# ?
Data2["사람1","나이"]

KeyError: ('사람1', '나이')

In [49]:
Data2.loc["사람1"]["나이"]

30

In [50]:
#사람2의 몸무게 찾기
Data2.loc["사람2"]["몸무게"]

65

In [51]:
#사람3의 키 찾기
Data2.at["사람3","키"]

170

In [52]:
# 사람1, 사람2 의 키 조회
Data2.loc[["사람1","사람2"]]["키"]

사람1    180
사람2    160
Name: 키, dtype: int64

In [53]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.loc[["사람1","사람2"],["키","몸무게"]]

       키  몸무게
사람1  180   75
사람2  160   65

### Index 과 column 동시 조회

하나의 index 번호와 컬럼번호에 해당하는 하나의 값 찾기
<ul>
<li> DataFrame명.iat[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호,컬럼번호]</li>
<li> DataFrame명.iloc[index번호][컬럼번호]</li>
</ul>
여러 index 번호와 컬럼번호에 해당하는 여러 값 찾기
<ul>
<li> DataFrame명.iloc[index번호1:index번호2,컬럼번호1:컬럼명번호2]</li>
</ul>

In [54]:
# 사람1의 나이 찾기
Data2.iloc[0,2]

30

In [55]:
#사람2의 몸무게 찾기
Data2.iloc[1][1]

65

In [56]:
#사람2의 몸무게 찾기
Data2.iloc[1]['몸무게']

65

In [57]:
Data2.iloc[0,['몸무게']]  # 결과는?

IndexError: .iloc requires numeric indexers, got ['몸무게']

In [58]:
#사람3의 키 찾기
Data2.iat[2,0]

170

In [59]:
# 사람1, 사람2 의 키 조회
Data2.iloc[0:2,0]

사람1    180
사람2    160
Name: 키, dtype: int64

In [60]:
# 사람1,사람2 의 키와 몸무게 조회
Data2.iloc[0:2,0:2]

       키  몸무게
사람1  180   75
사람2  160   65

### 조건 조회

In [61]:
Data2.values

array([[180,  75,  30],
       [160,  65,  40],
       [170,  75,  32],
       [175,  80,  33]], dtype=int64)

In [62]:
Data2["키"] >= 170

사람1     True
사람2    False
사람3     True
사람4     True
Name: 키, dtype: bool

In [64]:
# 키가 170 이상인 사람만 조회
Data2[ Data2["키"] >= 170 ]

       키  몸무게  나이
사람1  180   75  30
사람3  170   75  32
사람4  175   80  33

In [65]:
Data2[ Data2 >= 180 ]

         키  몸무게  나이
사람1  180.0  NaN NaN
사람2    NaN  NaN NaN
사람3    NaN  NaN NaN
사람4    NaN  NaN NaN

### 상위/하위 데이터 조회

<ul>
<li>head(개수) : 위에서부터 개수만큼의 데이터만 출력</li>
<li>tail(개수) : 밑에서부터 개수만큼의 데이터만 출력</li>
</ul>
개수를 쓰지 않을 경우 5개만 출력

In [ ]:
Data2.head(3)

In [ ]:
Data2.tail(2)

In [66]:
Data2[:2]

       키  몸무게  나이
사람1  180   75  30
사람2  160   65  40

## 2.3 Enumeration

 데이터 프레임을 만들고 이를 순환문으로 처리하면 실제 칼럼정보만 처리된다.

In [ ]:
for i in Data2 :
    print(i)

In [ ]:
Data2['키'], type(Data2['키'])

데이터 프레임 행으로 읽어오기

In [ ]:
for i in Data2.iterrows() :
    print(i)

In [ ]:
for i,s in Data2.iterrows() :
    print(i,s,type(s))

데이터 프레임에 있는 원소를 열로 가져오기

In [ ]:
print(df.iteritems())

In [ ]:
for i, s in df.iteritems() :
    print(i,s, type(s))

In [ ]:
print(df.items())

In [ ]:
for i,s in df.items() :
    print(i,s, type(s))

## 2.4 데이터 추가, 삭제

### Column 추가

#### 값으로 추가

In [ ]:
Data2

In [ ]:
Data2["나이"] = [31,41,31,31]
Data2

#### Series 또는 DataFrame에서 추가

In [ ]:
 Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))

In [ ]:
# bmi = 몸무게(kg) / 키(m)*키(m)
Data1["BMI"] = Data1["Weight"] / ((Data1["Height"] / 100) * (Data1["Height"] / 100))
Data1

In [ ]:
Data1['Test'] = [1,2,3,4]
Data1

###  행 추가

append 함수를 이용해서 행기준으로 데이터를 추가 할 수 있습니다.

#### Series와 List를 이용한 행추가

In [ ]:
listOfSeries = [pd.Series([187, 85, 34, 0], index = Data1.columns),
               pd.Series([183, 80, 32, 0], index = Data1.columns)]

In [ ]:
listOfSeries

In [ ]:
Data1 = Data1.append(listOfSeries)
Data1

#### DataFrame을 행기준으로 추가

In [ ]:
df = DataFrame([[180,75,30,33],[160,65,40,22]], 
               index = ["사람5","사람6"], 
               columns = ["Height","Weight","나이","BMI"])
df

In [ ]:
Data1.append(df)

### 데이터 삭제

drop 함수를 쓰면 행과 열을 삭제 할 수 있습니다.

axis option
<ul>
<li>0 : 행 기준 삭제</li>
<li>1 : 열 기준 삭제</li>
</ul>

####  열 삭제

In [ ]:
Data1

In [ ]:
Data1 = Data1.drop("BMI", axis = 1)
Data1

#### del

In [ ]:
del Data1['Test']

#### 행 삭제

In [ ]:
Data1

In [ ]:
Data1 = Data1.drop("Man1", axis = 0)
Data1

# 2.5 Options

## max_columns

컬럼 수가 많은 경우에는 처음과 끝의 컬럼을 제외하고 나머지 컬럼들은 축약이 되서 `[...]` 으로 표시된다. 일단 실험해보기 위해서 랜덤한 실수로 구성된 1000개의 값들을 10행 100컬럼으로 이루어진 데이터프레임을 생성해보자.

In [ ]:
df = pd.DataFrame(np.random.random(1000).reshape(10,100))
df.head()

### display.max_columns 사용

전체적인 변수들을 한번에 보고싶은 경우에 options 안의  `display.max_columns` 옵션 사용해서 모두 표시할 수 있다.

In [ ]:
PREV_COL_NUMS = pd.options.display.max_columns
PREV_COL_NUMS

In [ ]:
pd.options.display.max_columns = 100
pd.options.display.max_columns

In [ ]:
df.head()

In [ ]:
pd.options.display.max_columns = PREV_COL_NUMS

In [ ]:
pd.get_option('display.max_columns')

### set_option() 사용

`pd.set_option(OPTION_VAR)` 안에 최대 컬럼 수 `display.max_columns` 를 지정해주면 된다.